[Desktop Entry]
Name=K.L.A.R.
GenericName=Karteikarten Lernen Aber Richtig
Comment=Ein kinderfreundlicher Karteikarten-Trainer
Exec=klar
Icon=klar
Terminal=false
Type=Application
Categories=Education;Languages;GTK;
Keywords=flashcards;learning;education;
